.L0.treeNode {
    background-image: url(../images/MatterLayerIcon.png);
    background-position: center;
    color: #bea0de;
    border-radius: 5px;
}

.L0.upg {
    margin: 2px;
    border: 0px;
    border-radius: 2.5px;
}

.L1.reset {
    border: 0px;
    border-radius: 5px
}

.L1.upg {
    margin: 2px;
    border: 0px;
    border-radius: 2.5px;
}

.L2.reset {
    border: 0px;
    border-radius: 5px
}

.L2.upg {
    margin: 2px;
    border: 0px;
    border-radius: 2.5px;
}